04.[[:space:]]Operate[[:space:]]the[[:space:]]Santavator/imgs/04_TheElfC0de_Level4.gif filter=lfs diff=lfs merge=lfs -text
04.[[:space:]]Operate[[:space:]]the[[:space:]]Santavator/imgs/06_TheElfC0de_Level6.gif filter=lfs diff=lfs merge=lfs -text
04.[[:space:]]Operate[[:space:]]the[[:space:]]Santavator/imgs/07_TheElfC0de_Level7.gif filter=lfs diff=lfs merge=lfs -text
04.[[:space:]]Operate[[:space:]]the[[:space:]]Santavator/imgs/08_TheElfC0de_Level8.gif filter=lfs diff=lfs merge=lfs -text
